{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}: Dilyara Diyarova</h2>
<h3>{{ message }}</h3>

<p>Software engineering is a never-ending puzzle that I am passionately engaged in solving. This passion carried me through my education in KAI. </p>
<p>Here I was given the opportunity to learn programming languages, algorithms, higher mathematics, statistics, latest technologies and modern tools in software development.  </p>
<p>I have sharpened my skills while creating different projects such as Robotics company website , Docflow desktop application, 
    Mobile app for selling Robot toys.</p>
<p>Now I am skilled IT graduate, I write software for any need.</p>
{% endblock %}
