{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }} - Dilyara Diyarova</h2>
<h3>{{ message }}</h3>

<address>
    Kazan<br />
    Republic of Tatarstan, Russian Federation<br />
    <abbr title="Phone">P:</abbr>
    +79063282997
</address>

<address>
    <strong>My email:</strong>   <a href="mailto:didiyarova13@gmail.com">didiyarova13@gmail.com</a><br />
    <strong>Social:</strong> <a href="https://www.linkedin.com/in/dilyara-diyarova-94b1781a2/">My linkedin account</a>
</address>

{% endblock %}
