{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>SITH</h1>
    <p class="lead">
An ancient order of Force-wielders devoted to the dark side, the Sith practice hate, deception, and greed. Notable for their red-bladed lightsabers, black dress, and use of their aggressive feelings, the Sith look to amass power at all costs. The evil Darth Sidious, along with his apprentice Darth Vader, achieved the Sith goal of galactic conquest after a millennia of plotting.</p>
    <p><a href="/sith" class="btn btn-primary btn-large">for Siths &raquo;</a></p>
</div>
<div class="jumbotron">
    <h1>Recruit</h1>
    <p class="lead">
Sith academies were areas established to train Sith. The Trayus Academy, Sith Arts Academy, and the Korriban academy were academies established by the Sith Empire and the Brotherhood of the Sith. The One Sith used the Temple of the Sith as its primary academy.</p>
    <p><a href="/recruters/subscribe" class="btn btn-primary btn-large">for Recruits &raquo;</a></p>
</div>


{% endblock %}
